extends layouts/layout.pug

block content
    header
        div#navBar
            nav
                ul
                    li
                        a(href = "/logout") Log out
                    li
                        a(href = "/profile/edit") Edit
                    li
                        a(href = "/") Home
    div#profileContent
        h3 Username: #{user}
        h3 Actual Division (Solo / Duo rank): #{division}
        h3 Main lane(s): #{lanes}
        h3 Main Champion(s): #{champs}
        h3 Spoken language(s): #{language}
        h3 Region: #{region}