extends home.pug

block hostOrSearch
    div#searchContainer
        h2 Search a Team
        form(action = "/searchGame", method = "POST" autocomplete = "off")
            select(name = "game_type")
                option(value = '') Select game type
                option Normal
                option Ranked
                option Clash
                option Custom
            button(type = "submit" class = "btn") Search
    if messages.message != null
        p(align = "center") #{messages.message}
    if message != null
        p(align = "center") #{message}
    if items != null
        each item in items
            div.teamPost
                p Room id: #{item.id_post}
                p#host Host: 
                    a(href = '/user/' + item.hoster) #{item.hoster}
                p Hoster lane: #{item.hoster_lane}
                p Division: #{item.hoster_division}
                p Description: #{item.description}
                p Game mode: #{item.game_type}